@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family:'Open Sans', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1527839321757-ad3a2f2be351?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fecd1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}



.heading{
  background:#fff;
  padding: 20px;
  margin-top: 0;

}

.link-items {

  background:black;
  opacity: 0.8;
  padding: 30px 5px;
  font-size: 30px;
  margin: 0;
}

.listed-items{
  padding:10px 0px ;
  margin: 10px 0px;
  background: white;
  width: 100%;
}


a:link {
  color: black;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}